body {
	padding: 0;
	margin: 0;
	--bcolor-1: rgb(192, 143, 235);
	--bcolor-2: rgb(255, 255, 255);
	--bcolor-3: rgb(115, 77, 0);
	--ssmall: 768px;
	--smedium: 1024px;
	overflow-x: hidden;
}

h1 {
	margin: 0;
	font-family: 'Kaushan Script', cursive;
	text-transform: lowercase;
}

h1:first-letter {
	text-transform: uppercase;
}

p {
	margin: 2rem 0;
	max-width: 35rem;
}

button {
	border-radius: 10px;
	border: 3px solid rgb(27, 27, 27);
	text-transform: uppercase;
	background-color: transparent;
	padding: 0.8rem;
	margin: 0;
	text-transform: uppercase;
	cursor: pointer;
}

.g__section {
	padding: 5vh clamp(1rem, 5vw, 10rem);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: var(--bcolor-2);
}

.g__section:nth-child(odd) {
	background-color: var(--bcolor-1);
}

.g__section:nth-child(odd) button {
	background-color: var(--bcolor-1);
	color: var(--bcolor-2);
	border: 3px solid rgb(255, 255, 255);
}

.g__section:nth-child(even) button {
	background-color: var(--bcolor-1);
	color: var(--bcolor-2);
	border: 3px solid var(--bcolor-1);
}

.g__section:nth-child(odd) {
	color: white !important;
}

.g__section:nth-child(even) {
	color: var(--bcolor-1) !important;
}

@media (min-width: 768px) {
	.g__section {
		padding: 10vh clamp(1rem, 35vw, 40rem);
	}
}

@media (min-width: 1024px) {
	.g__section {
		padding: 10vh clamp(1rem, 25vw, 20rem);
	}
}
